---
import Container from "@/components/astro/container.astro";
import SectionHeader from "@/components/astro/section-header.astro";
import { buttonVariants } from "@/components/ui/button";
import {
Card,
CardDescription,
CardFooter,
CardHeader,
CardTitle,
} from "@/components/ui/card";
import { projectLinkLabels } from "@/config/constants";
import { getCollection } from "astro:content";
import { ExternalLinkIcon, EyeIcon } from "lucide-react";

const projects = await getCollection("projects");

const featuredProjects = projects.filter((project) => project.data.featured);

const hasFeaturedProjects = featuredProjects.length > 0
---

{hasFeaturedProjects ? (
    <section id="projects">
        <Container>
            <div class="flex flex-col gap-8">
                <SectionHeader label="Check out my" title="Projects." />
                <div class="grid gap-4">
                    {featuredProjects.map((project) => (
                        <Card className="h-full">
                            <CardHeader className="gap-2">
                                <CardTitle>{project.data.title}</CardTitle>
                                <CardDescription>
                                    {project.data.description}
                                </CardDescription>
                            </CardHeader>
                            <CardFooter className="flex-wrap gap-2">
                                <a
                                    class={buttonVariants()}
                                    href={`/projects/${project.id}`}
                                >
                                    <EyeIcon />
                                    <span>
                                        View project
                                    </span>
                                </a>
                                
                                {project.data.links.map((link) => (
                                    <a
                                        class={buttonVariants({ variant: "outline" })}
                                        href={link.href}
                                        rel="noreferrer"
                                        target="_blank"
                                    >
                                        <ExternalLinkIcon />
                                        <span>{projectLinkLabels[link.type]}</span>
                                    </a>
                                ))}
                            </CardFooter>
                        </Card>
                    ))}
                </div>
            </div>
        </Container>
    </section>
) : null}
